/* #common area */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* #end-common area */


/* #debug area */

.debug-header{
    width: 80%;
    display: flex;
    background-color: orange;
    border: 2px dashed black;
}

/* #end-debug area */


/* #utilities area */

header{
    height: 50px;
    background-color: lightskyblue;
    display: flex;
    justify-content:center;
    align-items: center;
}

.logo, .login{
    width: 25%;
    border: 1px dashed black;
    
    a{text-decoration: none;

    }
}

.link{
    width: 50%;
    text-align: center;
    border: 2px dashed black;
    a{
        text-decoration: none;

    }
   
    
}

.login{
    text-align: right;
}

.section1{
    background-color: blue;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.purple-area{
    width: 60%;
    height:85%;
    background-color: purple;
    border:2px dashed black;

}

.section2, .section4{
    height: 350px;
    display: flex;
   justify-content: center;
   align-items: center;  
}

.section3{
    height: 350px;
    display: flex;
    flex-direction: row-reverse;
   justify-content: center;
   align-items: center;  
   background-color: lightgray;
}

    

.blue-area{
    width: 40%;
    height:85%;
    background-color:lightskyblue;
    border: 2px dashed black;   

}

.pink-area{
    width: 30%;
    height:85%;
    background-color:pink;
    border: 2px dashed black;  

}

.section5{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-color: lightgray;
}

.green-area{
    width: 70%;
    background-color: green;
    height: 85%;
    border: 2px dashed black;
}

.debug-footer1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: rgb(68, 65, 65);
    padding-bottom: 10px;

}

.pink-area2{
    width: 20%;
    height:90%;
    background-color:rgb(179, 116, 126);
    border: 2px dashed black;

}

.lightgreen-area{
    width: 12.5%;
    height:90%;
    background-color:rgb(17, 185, 45);
    border: 2px dashed black;

}

.debug-footer2{
    height: 50px;
    background-color:  rgb(68, 65, 65);
    display: flex;
    justify-content:center;
    align-items: center;
    
}
/* #end-utilities area */