/* #common area */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #end-common area */


/* #debug area */

.debug-header{
    width: 80%;
    display: flex;
    flex-direction: row ;
    background-color: orange;
    margin: auto;
    border: 1px dashed black;
}

/* #end-debug area */


/* #utilities area */

header{
    height: 50px;
    background-color: lightskyblue;
    display: flex;
}

.logo, .login{
    width: 25%;
    border: 1px dashed black;
    text-decoration: none;
}

.link{
    width: 50%;
    text-align: center;
    border: 1px dashed black;
    text-decoration: none;
    
}

.login{
    text-align: right;
}

.section1{
    background-color: blue;
    height: 300px;
    display: flex;
}

.purple-area{
    width: 60%;
    height:80%;
    background-color: purple;
    margin: auto;
    display: flex;

}

/* #end-utilities area */